<div
  fxLayout="column"
  fxLayoutAlign="flex-start center"
  id="landing-page-wrapper"
>
  <section class="one panel">1</section>
  <section class="two panel">2</section>
  <section class="three panel">3</section>
  <section class="four panel">4</section>
  <section class="five panel">5</section>
  <section class="six panel">6</section>

  <div fxLayout="column" id="dots">
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
  </div>
</div>
