/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 16px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // margin: 0;
  }

  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  div {
    outline: none !important;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  overflow: initial;
  height: 100%;
  width: 100%;
}

.layout-align,
.layout-align-start-stretch {
  align-content: stretch;
  align-items: stretch;
}

.layout-align,
.layout-align-start,
.layout-align-start-center,
.layout-align-start-end,
.layout-align-start-start,
.layout-align-start-stretch {
  justify-content: flex-start;
}

.layout-align-center,
.layout-align-center-center,
.layout-align-center-end,
.layout-align-center-start,
.layout-align-center-stretch {
  justify-content: center;
}

.layout-align-end,
.layout-align-end-center,
.layout-align-end-end,
.layout-align-end-start,
.layout-align-end-stretch {
  justify-content: flex-end;
}

.layout-align-space-around,
.layout-align-space-around-center,
.layout-align-space-around-end,
.layout-align-space-around-start,
.layout-align-space-around-stretch {
  justify-content: space-around;
}

.layout-align-space-between,
.layout-align-space-between-center,
.layout-align-space-between-end,
.layout-align-space-between-start,
.layout-align-space-between-stretch {
  justify-content: space-between;
}

.layout-align-center-start,
.layout-align-end-start,
.layout-align-space-around-start,
.layout-align-space-between-start,
.layout-align-start-start {
  align-items: flex-start;
  align-content: flex-start;
}

.layout-align-center-center,
.layout-align-end-center,
.layout-align-space-around-center,
.layout-align-space-between-center,
.layout-align-start-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
}

.layout-align-center-center > *,
.layout-align-end-center > *,
.layout-align-space-around-center > *,
.layout-align-space-between-center > *,
.layout-align-start-center > * {
  max-width: 100%;
  box-sizing: border-box;
}

.layout-align-center-end,
.layout-align-end-end,
.layout-align-space-around-end,
.layout-align-space-between-end,
.layout-align-start-end {
  align-items: flex-end;
  align-content: flex-end;
}

.layout-align-center-stretch,
.layout-align-end-stretch,
.layout-align-space-around-stretch,
.layout-align-space-between-stretch,
.layout-align-start-stretch {
  align-items: stretch;
  align-content: stretch;
}

.flex {
  flex: 1;
}

.flex-grow {
  flex: 1 1 100%;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: 0 0 auto;
}

.flex-noshrink {
  flex: 1 0 auto;
}

.flex-nogrow {
  flex: 0 1 auto;
}

.layout-row > .flex {
  min-width: 0;
}

.layout-column > .flex {
  min-height: 0;
}

.layout,
.layout-column,
.layout-row {
  display: flex;
}

.layout-column {
  flex-direction: column;
}

.layout-row {
  flex-direction: row;
}

.layout-wrap {
  flex-wrap: wrap;
}

.layout-nowrap {
  flex-wrap: nowrap;
}

.layout-fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
